<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FixLoyalty.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D3573DB14DB40775AF52C333280E901ED4DA28BE</string>
				<key>dateExpires</key>
				<string>17/12/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4WQ2T93P22.com.fix.loyaltyapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4WQ2T93P22</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FixLoyalty.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6f09d487-fa61-4b71-ac79-0c914a7d5336</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.fix.loyaltyapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4WQ2T93P22</string>
				<key>name</key>
				<string>salesforce.com, inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
