<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FixLoyalty.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>90B8520C51C0717096C958203324FB752DD55410</string>
				<key>dateExpires</key>
				<string>3/10/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2F4ST2CG7J.com.fix.loyalty123</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2F4ST2CG7J</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FixLoyalty.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0011d579-069b-4ca8-afe5-a723ac50a80c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.fix.loyalty123</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2F4ST2CG7J</string>
				<key>name</key>
				<string>Michael Meisels</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
